body {
  background-color: white !important;
  font-family: "Georgia" !important;
}

.headerNavbar{
  display: none;
}

/* Header component css - 헤더(Menu Bar, bg img) */
.header{
  width: 88%;
  height: 30px;
  padding : 1%;
  margin: 0 5% 0 5%;
  background: black;
  /* 가로 정렬 */
  display: flex;
  /* 가로 중앙 정렬 */
  justify-content: center;
  /* 세로 중앙 정렬 */
  align-items: center;
  /* 고정 */
  position: fixed;
  background: linear-gradient(black, transparent)
}

/* 헤더 글 css */
.headerText{
  color: white;
  /* margin: 0px 10px 0px 10px; */
  cursor: pointer;
}

/* 헤더 글 마우스 오버 */
.headerText:hover{
  font-weight: bold;
}

/* 헤더 글 클릭 시 변경시킬 색깔  */
.click{
  color:red;
}

/* 화면 스크롤 시 Menu bar 투명도 관련 배경색 지정 */
.blackScroll{
  background: #000000;
}

/* Main component css */
.main{
  width: 88%;
  height: 1300px;
  /* padding (css)속성은 네 방향 안쪽 여백 영역을 의미한다. 상:15%, 우:1%, 하:1%, 좌:1%*/
  /* 현재 Header(상단 고정 바)가 존재하기 때문에 그 영향 주지 않기 위해 위 여백을 15% 주었다. */
  padding: 15% 1% 1% 1%;
  /* margine (css)속성은 네 방향 바깥쪽 여백 영역을 의미한다. 상:0%, 우:5%, 하:0%, 좌:5% */
  /* 보기 좋게 좌,우 여백을 5% 준다. */
  margin: 0 5% 0 5%;
  /* display (css)속성은 요소를 블록과 인라인 요소 중 어느 쪽으로 처리할지와 함께, flow, grid, flex처럼 자식 요소를 배치할 때 사용할 레이아웃을 설정한다. */
  /* 즉 내부와 외부 디스플레이 유형을 설정한다. */
  /* 외부 디플 유형은 flow Layout에 요소가 참여하는 방법을 나타낸다. */
  /* 내부 디플 유형은 자식의 Layout 방식을 설정한다. */
  /* 디플의 일부 값은 자신만의 명세를 가지고 있다. */
  /* flex는 가로정렬이다. */
  display: flex;
  /* min-height (css)속성은 최소 높이를 설정한다.height 속성의 사용값이 자신의 값보다 작아지는 걸 방지한다. */
  min-height: calc(100vh - 280px);
}

/* Footer component css */
.footer {
  height: 90px;
  padding : 20px;
  background: gray;
  margin-top: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Login page css */
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login input{
  margin: 3px;
}
.login a{
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
}
.login button{
  display: block;
  margin: auto;
  width: 96%;
  height: 30px;
  background-color: yellow;
}

.loginBorderBox{
  border: 3px solid yellow;
  padding: 15rem;
  border-radius: 1rem;
  height: 100px !important;

}

/* Signup page css */
.signup{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signupBorderBox{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid yellow;
  padding: 15rem;
  border-radius: 1rem;
  height: 10vh !important;
}

.signupForm {
  height: 10vh !important;
}

.signupBorderBox form input{
  margin-right: 10px;
  border: 0;
  border-bottom: 1px solid gray;
}

.signupRow {
  margin-bottom: 40px;
}

.signupBorderBox form input:focus{
  outline: none;
  border-bottom: 1px solid gray;
}

table {
  margin: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
tr, td {
  border: 0.5px solid black;
}